@import url('https://fonts.googleapis.com/css?family=Pangolin'); @import url('https://fonts.googleapis.com/css?family=Russo+One'); @import url('https://fonts.googleapis.com/css?family=Alegreya'); :root {
    font-family: 'Pangolin', cursive;
}

body {
    background-image: url(../img/backgroundfon.png);
    background-color: #1c91ff;
    max-width: 1300px;
    margin: auto;
}

.logo {
    width: 100%;
}

@media (min-width: 687px) {
    header > nav {
        display: flex;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    display: inline-block;
}

@media (min-width: 789px) {
    .header-nav {
        flex: 1;
    }
}

.header-nav a {
    color: black;
    text-decoration: none;
    padding: 0 3%;
    text-align: center;
}

.header-nav a:hover {
    color: orange;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.baner {
    background-image: url(../img/main.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}

@media (min-width: 500px) {
    .baner {
    min-height: 400px;    
    }
}

.baner h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

.baner .button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 13px;
    color: black;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.title {
    text-align: center;
}

@media (min-width: 500px) {
    .events-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 700px) {
    .events-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.select-event {
    text-align: center;
    border-radius: 12px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

.select-event img {
    width: 100%;
    height: 100%;
    display: block;
}

.select-event .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width: 500px) {
    .services-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 700px) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.select-service {
    text-align: center;
}

.select-service a {
    color: black;
    text-decoration: none;
}

.select-service a:hover {
    color: orange;
}

.form-border {
    text-align: center;
    border-radius: 12px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

form input, textarea {
    border-radius: 5px;
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    padding: 5px 0;
    margin: 5px 0;
    text-align: center;
}



@media (min-width: 650px) {
    .contacts-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



.contacts-container p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location iframe {
    width: 100%;
    height: 100%;
}


footer {
    background-image: url(../img/backgroundfooter.jpeg);
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
}

footer p:hover {
    color: orange;
}
