@import url('https://fonts.googleapis.com/css?family=Pangolin');
:root {
    font-family: 'Pangolin', cursive;
}

body {
    background-image: url(../img/backgroundfon.png);
    background-color: black;
}

.icon {
    width: 300px;
    height: auto;
}

